# Web Scraping & Data Manipulation
# requests==2.31.0
# beautifulsoup4==4.12.3
# pandas==2.2.2

# # Database Connectivity (for Airflow PostgresHook)
# apache-airflow-providers-postgres==5.11.1
# psycopg2-binary==2.9.9
pandas==2.2.2
requests==2.31.0
beautifulsoup4==4.12.3

# Use the modern version 3
psycopg[binary]
apache-airflow-providers-postgres